<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Normal console appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %-5level [%thread] %logger - %message%n</pattern>
        </encoder>
    </appender>

    <!-- File rolling appender -->
    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>C:\Pclogs\admin-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- <fileNamePattern>/usr/local/pc/admin-%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
            <maxHistory>120</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date %-5level [%thread] %logger - %message%n</pattern>
        </encoder>
    </appender>

    <logger name="pc" level="DEBUG" additivity="false">
        <appender-ref ref="console" />
        <appender-ref ref="rollingFile" />
    </logger>

    <root level="TRACE">
        <appender-ref ref="console" />
        <appender-ref ref="rollingFile" />
    </root>
</configuration>